In [1]:
import numpy as np
import pandas as pd
import os
from tkinter import Tcl

In [2]:
##getting current path

cur_path=os.getcwd()
cur_path

'C:\\Users\\chrs-164-ip\\Desktop\\Projects\\SDDP\\General structure\\For github'

In [4]:
cascade_df=pd.read_excel('input/Cascade_info.xlsx',sheet_name='Cascade')
name=cascade_df['name']
name

0    FP
1    GA
2    OH
3    BB
4    FR
5    GP
Name: name, dtype: object

In [5]:
##getting file list of shifted trees solutions
path=os.path.join(cur_path,"output/temp_files/node_solutions/shifted_tree/")
dir_list=os.listdir(path)
dir_list=Tcl().call('lsort', '-dict', dir_list)
print(len(dir_list))
dir_list

8

('Nodes_release_solution_shifted_0.csv',
 'Nodes_release_solution_shifted_1.csv',
 'Nodes_spill_solution_shifted_0.csv',
 'Nodes_spill_solution_shifted_1.csv',
 'Nodes_storage_solution_shifted_0.csv',
 'Nodes_storage_solution_shifted_1.csv',
 'Nodes_total_pflow_solution_shifted_0.csv',
 'Nodes_total_pflow_solution_shifted_1.csv')

In [6]:
d_list=[]
for file in dir_list:
    temp=pd.read_csv(os.path.join(cur_path,"output/temp_files/node_solutions/shifted_tree/",file),\
                    header=None)
    d_list.append(temp)

In [7]:
len(d_list)

8

In [8]:
name

0    FP
1    GA
2    OH
3    BB
4    FR
5    GP
Name: name, dtype: object

In [9]:
redunt_col=[]
col_name=[]
all_name=[]
for dam in name:
    temp_name=dam+'_out'
    temp_del=dam+'_in'
    redunt_col.append(temp_del)
    all_name.append(temp_del)
    all_name.append(temp_name)
    col_name.append(temp_name)

In [10]:
redunt_col

['FP_in', 'GA_in', 'OH_in', 'BB_in', 'FR_in', 'GP_in']

In [11]:
col_name

['FP_out', 'GA_out', 'OH_out', 'BB_out', 'FR_out', 'GP_out']

In [12]:
all_name

['FP_in',
 'FP_out',
 'GA_in',
 'GA_out',
 'OH_in',
 'OH_out',
 'BB_in',
 'BB_out',
 'FR_in',
 'FR_out',
 'GP_in',
 'GP_out']

In [13]:
##removing junk strings
##removing "in" columns 
##gettting root node solution
datasets=pd.DataFrame(columns=col_name)
strings=[
    'SDDP.State{Float64}\[','SDDP.State{Float64}\(','SDDP.State{Float64}\[SDDP.State{Float64}\(','\)','\)\]','\]','\[',
        ]
for df in d_list:
    df=df[:1]
    df=df.replace(strings,"",regex=True)
    if df.shape[1]==len(name):
        df.columns=col_name
    elif df.shape[1]==len(name)*2:
        df.columns=all_name
        df.drop(columns=redunt_col,inplace=True)
    else:
        print("somehting is wrong!")
    datasets=pd.concat([datasets,df])
datasets=datasets.astype(float)

In [14]:
print(len(datasets))

8

In [15]:
def index_maker(n):
    names_ar=np.empty((4,n),dtype=np.dtype('U100'))
    for i in range(n):
        names_ar[0,i]=f'release_{i}'
        names_ar[1,i]=f'spill_{i}'
        names_ar[2,i]=f'storage_{i}'
        names_ar[3,i]=f'total_pflow_{i}'
    res=names_ar.flatten()
    return res

In [16]:
##joining into one dataframe

datasets.index=index_maker(int(len(datasets)/4))
datasets=datasets.reindex(sorted(datasets.columns),axis=1)
datasets

,BB_out,FP_out,FR_out,GA_out,GP_out,OH_out
release_0,78.941147,15.300000,37.647059,25.100000,36.000000,51.822201
release_1,62.924129,15.300000,37.647059,25.100000,36.000000,36.385182
spill_0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
spill_1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
storage_0,1.631000,15.189553,3.224941,18.211265,0.371439,18.840715
storage_1,1.631000,15.191537,3.196086,18.209281,0.373244,18.871334
total_pflow_0,78.941147,15.300000,37.647059,25.100000,36.000000,51.822201
total_pflow_1,62.924129,15.300000,37.647059,25.100000,36.000000,36.385182

In [17]:
datasets.to_csv('output/node_solutions/shifted_tree/shifted_Root_node_solutions.csv')

In [18]:
print("Code is Done!")

Code is Done!