In [4]:
import numpy as np
import pandas as pd
import os

In [5]:
##getting current path
output_path="output/node_solutions/shifted_tree"
folder_path="output/temp_files/node_solutions/shifted_tree"

In [6]:
cascade_df=pd.read_excel('input/Cascade_info.xlsx',sheet_name='Cascade')
name=cascade_df['name']
name=sorted(name)
name

['BB', 'FP', 'FR', 'GA', 'GP', 'OH']

In [7]:
redunt_col=[]
col_name=[]
all_name=[]
for dam in name:
    temp_name=dam+'_out'
    temp_del=dam+'_in'
    redunt_col.append(temp_del)
    all_name.append(temp_del)
    all_name.append(temp_name)
    col_name.append(temp_name)
col_name=sorted(col_name)
all_name=sorted(all_name)

In [8]:
file_names=os.listdir(folder_path)
file_names

['Nodes_release_solution_shifted_0.csv',
 'Nodes_release_solution_shifted_1.csv',
 'Nodes_spill_solution_shifted_0.csv',
 'Nodes_spill_solution_shifted_1.csv',
 'Nodes_storage_solution_shifted_0.csv',
 'Nodes_storage_solution_shifted_1.csv',
 'Nodes_total_pflow_solution_shifted_0.csv',
 'Nodes_total_pflow_solution_shifted_1.csv']

In [9]:
raw_dfs=[]
for file in file_names:
    temp=pd.read_csv(os.path.join(folder_path,file),header=None)
    if len(temp.columns)==len(name):
        temp.columns=col_name
    elif len(temp.columns)==len(name)*2:
        temp.columns=all_name
    else:
        print("something is wrong!!")
        print("unexcpected columns lenght")
    raw_dfs.append(temp)

In [10]:
strings=['SDDP.State{Float64}\[','SDDP.State{Float64}\(','SDDP.State{Float64}\[SDDP.State{Float64}\(','\)','\)\]','\]','\[']
datasets=[]
for df in raw_dfs:
    df=df.replace(strings,'',regex=True)
    df=df.astype(float)
    if len(df.columns)==len(name)*2:
        df.drop(columns=redunt_col,inplace=True)
    datasets.append(df)

In [11]:
datasets[0]

       BB_out     FP_out     FR_out     GA_out     GP_out     OH_out
0    15.30000  25.100000  51.822201  78.941147  37.647059  36.000000
1    24.30000  14.943089  54.575376  55.095376  35.340998  36.000000
2    24.30000  14.943089  50.205275  50.205275  33.190998  36.000000
3    24.30000  20.177624  54.600000  54.600000  35.270998  36.000000
4    31.72089  15.463090  54.600000  50.823045  33.950212  36.000000
..        ...        ...        ...        ...        ...        ...
206  31.72089  14.943089  51.529107  51.529107  34.310000  36.000000
207  31.72089  23.519315  54.600000  54.600000  37.647059  36.000000
208  31.72089  36.693615  28.558169  28.558169  33.540000  36.000000
209  31.72089  32.943089  58.761317  58.761317  37.647059  41.907059
210  31.72089  14.943089  51.058722  51.058722  31.100000  36.000000

[211 rows x 6 columns]

In [12]:
##exporting 

for df ,name in zip(datasets,file_names):
    df.to_csv(os.path.join(output_path,"clean_"+name), index=False)

In [14]:
print("Code is Done! ")

Code is Done!