In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os
import matplotlib as mlp
from tkinter import Tcl
import glob

In [2]:
##is the problem scaled??

scale=True

In [3]:
##defining constants

if scale:
    c1=1e3
    c2=1e6
else:
    c1=1
    c2=1
print(c1,c2)

1000.0 1000000.0

In [4]:
#defining image saving function

def save_fig(_id, tight_layout=True, resolution=300):
    path = os.path.join("./output/main_tree_vs_shifted_trees", _id + ".png")
    print("Saving figure", _id)
    if tight_layout:
        plt.tight_layout()
    plt.savefig(path, format='png', dpi=resolution)

In [5]:
#loading user data and getting number of stages

user_data=pd.read_csv('input/user_data.csv')
n_stages=user_data.iloc[0,1]
user_data

                                           variables  values
0                                   Number of stages      21
1                          month for initial storage       3
2                            day for initial storage      31
3  nuber of rows from begening of USACE forecsat ...       3
4   nuber of rows from End of USACE forecsat to drop       0
5                              number of small trees       7

In [6]:
##current dir and quantile files dir

path=os.getcwd()
shifted_path=os.path.join(path,"output/quantile_files/shifted")
main_path=os.path.join(path,"output/quantile_files/main")

In [7]:
params=pd.read_excel('input/Cascade_info.xlsx',sheet_name='plotting_info')
dam_name=sorted(params['name'])
dam_name

['BB', 'FP', 'FR', 'GA', 'GP', 'OH']

In [8]:
shifted_dict,main_dict={},{}
for dam in dam_name:
    shifted_dict[dam]=""
    main_dict[dam]=""

In [9]:
shifted_dict

{'BB': '', 'FP': '', 'FR': '', 'GA': '', 'GP': '', 'OH': ''}

In [10]:
##for shifted tree
for dam in dam_name:
    temp_list=[]
    for f in os.listdir(shifted_path):
        if f.startswith(dam):
            temp=pd.read_excel(os.path.join(shifted_path,f))
            temp_list.append(temp)
        shifted_dict[dam]=temp_list
        
##for main tree
for dam in dam_name:
    temp_list=[]
    for f in os.listdir(main_path):
        if f.startswith(dam):
            temp=pd.read_excel(os.path.join(main_path,f))
            temp_list.append(temp)
        main_dict[dam]=temp_list

In [11]:
shifted_dict['BB'][0]

,x1,x2,x3,x4,x5,x6,x7,x8,x9,x10,x11,x12,x13,x14,x15
0,0.00,78.941147,50.205275,29.784051,11.684967,1.543210,1.543210,9.214269,7.457969,10.712051,23.343892,4.144837,1.543210,1.543210,28.558169
1,0.10,78.941147,50.205275,29.784051,54.600000,53.811214,53.745598,54.600000,7.922405,15.458924,29.189875,11.060401,1.543210,30.713459,47.396904
2,0.25,78.941147,50.205275,40.383047,54.600000,54.600000,54.600000,54.600000,52.237831,15.458924,34.867548,37.836507,38.367075,38.838525,51.058722
3,0.50,78.941147,50.205275,43.053229,54.600000,54.600000,54.600000,54.600000,54.600000,37.434491,55.380000,42.853336,50.136494,47.211834,54.600000
4,0.75,78.941147,54.723844,47.614374,57.594675,54.680000,54.920000,55.900000,54.600000,55.620000,85.802763,48.823488,55.210204,49.673064,57.000000
5,0.90,78.941147,55.095376,47.995662,79.735949,54.680000,55.320013,56.399987,54.600000,68.518562,85.802763,55.118603,87.904240,54.207325,69.092593
6,1.00,78.941147,55.095376,47.995662,79.735949,56.580000,97.316939,84.183652,61.340000,68.813522,87.661648,55.118603,92.573017,74.381794,101.646091

In [12]:
len(main_dict['BB'])

4

In [13]:
##lets check the lenght

print(len(main_dict[dam_name[0]]))
print(len(shifted_dict[dam_name[0]]))

4
32

In [ ]:
##lets plot them against eachother

##make a list of main and shifted datasets
A,B=[],[]
for name in dam_name:
    A.append(main_dict[name])
    B.append(shifted_dict[name])
h=0

## a dict for axes titles 
dict1={0:["Release","Release (cfs)",c1],1:["spill",'Spill (cfs)',c1],\
       2:["storage",'Storage (AF)',c2],3:["Powerhouse","Powerhouse (cfs)",c1]}

## a dict for names
dict2={}
for i in range(len(dam_name)):
    dict2[i]=dam_name[i]

##lets loop through lists
for AA ,BB in zip(A,B):
    for i in range(len(AA)):
        
        ##data for main tree
        a=AA[i].iloc[3,1:]*dict1[i][2]
        x=np.arange(0,len(a))
        
        ##python starts indexing from 0 lets add 1 for beter visulaisation
        x=x+1
        
        ##importing shifted trees data
        b=BB[i*8].iloc[3,1:]*dict1[i][2]
        b1=BB[i*8+1].iloc[3,1:]*dict1[i][2]
        b2=BB[i*8+2].iloc[3,1:]*dict1[i][2]
        b3=BB[i*8+3].iloc[3,1:]*dict1[i][2]
        b4=BB[i*8+4].iloc[3,1:]*dict1[i][2]
        b5=BB[i*8+5].iloc[3,1:]*dict1[i][2]
        b6=BB[i*8+6].iloc[3,1:]*dict1[i][2]
        b7=BB[i*8+7].iloc[3,1:]*dict1[i][2]
        xx=np.arange(0,len(b))
        xx=xx+1 
        
        ##lets plot them
        fig=plt.figure(figsize=(40,20),dpi=300)
        ax=fig.add_subplot(111,label='1')
        ax.plot(xx,b,color='b',linewidth=5,label='0shift')
        
        ##we realize that in some cases lines for the first 2 shifted trees are indistinguishable,\
        ##so we also added marker to lines
        
        ax.scatter(xx,b,marker='^', color='b',s=2000)#,linewidth=5)
        ax.plot(xx+1,b1,color='y',linewidth=5,label='1shift')
        ax.scatter(xx+1,b1,marker='.', color='y',s=2000)#,linewidth=5)
        ax.plot(xx+2,b2,color='lightgreen',linewidth=5,label='2shift')
        ax.plot(xx+3,b3,color='c',linewidth=5,label='3shift')
        ax.plot(xx+4,b4,color='r',linewidth=5,label='4shift')
        ax.plot(xx+5,b5,color='grey',linewidth=5,label='5shift')
        ax.plot(xx+6,b6,color='forestgreen',linewidth=5,label='6shift')
        ax.plot(xx+7,b7,color='orange',linewidth=5,label='7shifted')
        ax.plot(x,a,color='k',linewidth=5,label='main tree')
        title=str(f'{dict1[i][0]}')+str("_")+str(f'{dict2[h]}')
        ylabel=f'{dict1[i][1]}'
        plt.title(title,fontsize=30)
        plt.xlabel(f'Stage ({len(a)} day horizon)',fontsize=30)
        plt.ylabel(ylabel,fontsize=30)
        plt.grid(True,which='major',axis='both')
        plt.xticks(ticks=x)
        ax.tick_params(axis='both', which='major', labelsize=20)
        plt.xlim([1,len(a)])
        ax.legend(fontsize=30)
        name="comparison_"+title
        save_fig(name)
        plt.close('all')
    h=h+1

Saving figure comparison_Release_BB
Saving figure comparison_spill_BB
Saving figure comparison_storage_BB
Saving figure comparison_Powerhouse_BB
Saving figure comparison_Release_FP
Saving figure comparison_spill_FP
Saving figure comparison_storage_FP
Saving figure comparison_Powerhouse_FP
Saving figure comparison_Release_FR
Saving figure comparison_spill_FR
Saving figure comparison_storage_FR
Saving figure comparison_Powerhouse_FR
Saving figure comparison_Release_GA
Saving figure comparison_spill_GA
Saving figure comparison_storage_GA
Saving figure comparison_Powerhouse_GA
Saving figure comparison_Release_GP
Saving figure comparison_spill_GP
Saving figure comparison_storage_GP
Saving figure comparison_Powerhouse_GP
Saving figure comparison_Release_OH
Saving figure comparison_spill_OH
Saving figure comparison_storage_OH

In [ ]:
plt.close('all')

In [ ]:
print("plotting of camparison plots is Done!!")